
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
          </div>
    </body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Valerie's blog</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>A heading</h1>-->
<!--<h2>A sub-heading</h2>-->
<!--<h3>A sub-sub-heading</h3>-->
<!--<h4>A sub-sub-sub-heading</h4>-->

    <!--<p>Hi there!</p>-->
<!--<br>-->

    <!--<p>It works!</p>-->
<!--<em>emphasizes your text</em>-->
<!--<strong>strongly emphasizes your text</strong>-->
<!--<br>-->
<!--<em>emphasizes your text</em> <br>-->
<!--<strong>strongly emphasizes your text</strong>-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--<div>-->
<!--<a href="https://djangogirls.org">link</a>-->
<!--<ul><li>first item</li><li>second item</li></ul>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->